.intro {
  text-align: center;
}

.intro-logo {
  /*height: 40vmin;*/
  pointer-events: none;
}

.intro-header {
  background-color: #FAAE55;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}