#ready {
	position: absolute; left: 0; top: 0; right: 0; bottom: 0;
	background: #FFE0BC;
	display: flex; align-items: center; justify-content: center;
}

.speed {
	position: relative; display: block; width: 250px; height: 250px;
	line-height: 250px;
	border-radius: 1000px;
	/*overflow: hidden;*/
}
.speed:after {
	content: ''; 
	position: absolute; z-index: 10;
	display: block; width: 100%; height: 100%;
	border-radius: 50%; box-sizing: border-box;
	border: 5px solid #999;
}
.speed-line {
	position: absolute;
	z-index: 5;
	display: block;
	width: 290px; height: 290px;
	transform: translate(-20px, -20px);
	border-radius: 50%;
	overflow: hidden;
}
.speed-line-under {
	position: absolute;
	z-index: 2;
	left: 5%; top: 5%;
	width: 90%;
	height: 90%;
	border-radius: 50%;
	background: #FFE0BC;
}
.speed-line-over {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100vw;
	height: 100vw;
	transform-origin: 0 0;
	z-index: 1;
	transform: rotate(-90deg) skew(1deg);
}
.speed-line-circle {
	position: absolute;
	left: 15px; top: 15px; width: calc(100% - 30px); height: calc(100% - 30px);
}
.speed-line-circle:before, 
.speed-line-circle:after {
	content: ''; 
	position: absolute; left: 50%; top: 0; z-index: 10;
	display: block; width: 0; height: 0; 
	box-sizing: border-box;
	border-radius: 1000px;
	border: 7.5px solid;
	transform-origin: 0 130px;
}
.speed-line-over,
.speed-line-circle:before, 
.speed-line-circle:after
{
	background: #C40000;
	border-color: #C40000;
}

.speed-line-circle:before {
	transform: rotate(-3.5deg) translateY(-15px);
}
.speed-line-circle:after {
	transform: rotate(86.5deg) translateY(-15px);
}
.speed-text {
	position: absolute; top: 0; left: 0; width: 100%;
	z-index: 10;
	color: #999; font-size: 60px; text-align: center; font-weight: 600;
}